{% extends 'polls/base.html' %}


{% block title %}Error{% endblock %}

{% block content %}
    <div class="panel panel-red">
                        <div class="panel-heading">
                            Błąd
                        </div>
                        <div class="panel-body">
                            <p>Ciągle sie uczymy</p>
                            <img src="https://i1.jbzdy.pl/contents/2017/04/0578832934d769a71b76fa6b76cf3441.jpg" alt="Nauka pythonów">
                        </div>
                        <div class="panel-footer">
                            Wystąpił niefajny błąd.
                        </div>
                    </div>
{% endblock %}