{% extends 'polls/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Zaloguj się</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                       <button class="btn btn-lg btn-success btn-block" type="submit">Zaloguj</button>
                        </form>
                    </div>
                </div>

{% endblock %}